@import 'vars';


@media screen and (max-width : 1200px)
{
    .wrap
    {
        width: 750px;
    }
    section,
    header,
    footer
    {
        min-width: 750px;
    }
    body
    {
        font-size: 15px;
    }
    .head-nav-left,
    .head-nav-rigth
    {
        width: auto;
    }

    .head-nav-left li:last-child a
    {
        padding-right: 30px;
    }
    .head-nav-left
    {
        li
        {
            margin-right: 5px;
        }
    }
    .head-nav-rigth
    {
        li
        {
            margin-left: 5px;
        }
    }
    .head-con-l
    {
        line-height: 120px;
        a
        {
            img
            {
                width: 240px;
            }
        }
    }
    .head-con-c
    {
        width: auto;
        .head-con-cl
        {
            margin-right: 0;
        }
        form
        {
            position: absolute;
            left: 0;
            select
            {
                width: 200px;
                margin-right: 66px;
            }
        }
    }
    .head-con-cr
    {
        display: none;
    }
    .head-con-r
    {
        position: static;

        float: right;

        margin-left: 0;
    }
    .main-nav
    {
        li:nth-of-type(2){
            .first-subm{
                width: 220px;
                li{
                                    padding-left: 0px;
                padding-right: 0px;
                }

            }
        }
        >li:nth-child(n+5)
        {
            display: none;
        }
        li{
            a{
                padding-left: 15px;
                padding-right: 10px;
            }
            a.nav-open{
                padding-right: 40px;
            }
        }
        .main-sub{
            li{
                margin-right: 20px;
                margin-left: 20px;
            }
        }
        li.nav-tablat{
            display: inline-block;
            width: 130px;
            .first-subm{
                right: 0;
                width: 270px;
                li{
                    padding: 3px 10px;
                }
            }
        }
    }

    .catalog-it
    {
        margin: 20px 30px 8px 34px;
    }
    .banner-1
    {
        margin-top: 7px;

        background: url(../img/ban-1-bg-sm.jpg) no-repeat center;
        background-size: cover;
        .wrap
        {
            width: 780px;
        }
        .ban1
        {
            p
            {
                font-size: 35px;
                line-height: 53px;

                width: 85%;
                margin-top: .5%;
                margin-left: 4%;
            }
            a
            {
                line-height: 53px;

                margin-top: 9px;
                margin-left: 6%;
            }
        }
    }
    .conditions
    {
        .cond-it
        {
            width: 240px;
            height: 110px;
            margin-right: 9px;

            background-position: 10px 50%;
            background-size: 100px;
            box-shadow: 3px 3px 0 0 #70bdc3;
            &:nth-of-type(2)
            {
                background-position: 20px 50%;
                background-size: 80px;
            }
            &:last-child
            {
                margin-right: 0;
            }
            p
            {
                font-size: 15px;

                margin-top: 20px;
                margin-left: 50%;
                padding-right: 0;
            }
        }
    }

    .goods
    {
        .goods-item
        {
            width: 237px;
            margin-right: 15px;
            &:nth-of-type(3n)
            {
                margin-right: 0;
            }
            &:nth-of-type(n+10)
            {
                display: none;
            }
            .goods-btn
            {
                width: 105px;
            }
            p:nth-of-type(2)
            {
                font-size: 16px;
            }
            p:nth-of-type(3)
            {
                font-size: 22px;

                margin-top: 3px;
            }
            p,
            span
            {
                padding: 0 10px;
            }
            p:last-of-type
            {
                padding: 0;
            }
            .goods-itm-flag
            {
                padding: 0;
                padding-top: 10px;
            }
        }
    }
    .subscrition
    {
        p
        {
            width: 80%;
        }
        p:first-of-type
        {
            font-size: 36px;
        }

        br
        {
            display: none;
        }
        form
        {
            width: 480px;
            height: 60px;

            button
            {
                padding: 0 25px;
            }
        }
    }
    h2
    {
        font-size: 28px;

        margin-left: 10px;
        padding-bottom: 27px;
    }
    .top-news
    {
        a
        {
            margin-right: 0;
            padding: 5px 10px;
        }
    }

    .nws-cont
    {
        margin-top: 36px;
        .nws-item
        {
            margin-right: 6px;
            margin-left: 10px;
            img{
                height: initial;
            }
            &:nth-of-type(n+3)
            {
                display: none;
            }
        }
    }
    .nws-desc
    {
        margin-bottom: 10px;
    }
    footer
    {
        .top-foot
        {
            padding-top: 20px;
            padding-bottom: 45px;
            .dib
            {
                margin-right: 30px;
            }
            .f-logo
            {
                width: 100%;
                p
                {
                    font-size: 14px;
                }
                a
                {
                    display: inline-block;
                    &:last-child
                    {
                        left: 50%;

                        margin: 0;
                        margin-top: 11px;

                        transform: translateX(-50%);
                    }
                    img
                    {
                        width: 220px;
                        margin-top: 20px;
                        margin-bottom: 15px;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .f-fot
    {
        position: absolute;
        top: 68%;
        right: 0;

        width: 460px;
        .fot-social
        {
            width: auto;
            margin-right: 0!important;
        }
        .fot-pay
        {
            width: auto;
            margin-top: -20px;
            p
            {
                display: block;

                margin-bottom: 7px;
            }
            .f-paymnt
            {
                margin-left: 20px;
            }
        }
    }

    /*---------------Доставка--------------------- */
    .page-title
    {
        h2
        {
            margin-top: 16px;
            margin-left: 0;
        }
    }
    .del-advant
    {
        margin-bottom: 66px;
        p
        {
            width: 228px;
            margin-right: 27px;
            padding: 0;
        }
    }
    .way
    {
        height: 380px;
        .way-left
        {
            width: 210px;
            p
            {
                padding: 0 10px;
            }
            a
            {
                width: 176px;
                margin-top: 16px;
            }
        }
        .way-right
        {
            width: 540px;
            padding-left: 30px;
            a
            {
                float: none;
            }
            p
            {
                br
                {
                    display: none;
                }
            }
            .way1-con
            {
                margin-top: 28px;
                margin-bottom: 4px;
                .way1-item
                {
                    margin-bottom: 15px;

                    background-size: 16%;
                }
            }
        }
    }
    .way:nth-of-type(3)
    {
        height: 690px;
        .way2-con:nth-of-type(2)
        {
            float: none;

            margin-right: 0;
            margin-bottom: 21px;
        }
    }
    .way:nth-of-type(4)
    {
        height: 610px;
        .way2-con:nth-of-type(2)
        {
            float: none;

            margin-right: 0;
            margin-bottom: 21px;
        }
    }
    .way3-con
    {
        margin-bottom: 14px;
    }
    .way3-it
    {
        width: 100%;

        text-align: left;
        .circle
        {
            float: left;

            width: 110px;
            height: 110px;
            margin-bottom: 10px;

            box-shadow: 2px 2px 0 0 #70bdc3;
        }
        p,
        span
        {
            display: inline-block;
            float: right;

            width: 375px;
        }
        p
        {
            margin-top: 15px;
        }
    }
    .way:last-child .way-con-b
    {
        width: 44%;
        span
        {
            line-height: 24px;
        }
    }
    .way:last-child .way-con-b:last-of-type
    {
        margin-left: 30px;
    }
    .help-del
    {
        .way
        {
            margin-bottom: 40px;
        }
        .way-left
        {
            position: absolute;
            top: 0;
            left: 0;

            height: auto;
        }
        .way-right
        {
            width: 100%;
            padding-left: 0;
            h5
            {
                margin-top: 30px;
                margin-right: 22px;

                text-align: right;
            }
            .help-del-it
            {
                width: 235px;
                height: 308px;
                margin-right: 10px;
                margin-bottom: 20px;
                padding: 10px;
                .help-d-imgco
                {
                    margin-bottom: 10px;
                    img
                    {
                        max-width: 100%;
                    }
                }
                a:first-of-type
                {
                    left: 10px;
                }
                a:last-of-type
                {
                    right: 10px;
                }
            }
        }
    }
    /* ------------------------Контакты--------------------------------*/
    .contacts
    {
        font-size: 14px;
        p
        {
            margin-bottom: 20px;
            padding-right: 0;;
        }
        .cont-inf-it
        {
            width: auto;
            margin: 0;
            margin-right: 60px;
            margin-bottom: 30px;
            &:nth-child(3)
            {
                width: 150px;
                margin-left: 0;
            }
            &:nth-child(3n)
            {
                margin-right: 0;
            }
            p
            {
                margin-bottom: 5px;
            }
        }
    }
    .how-to-get
    {
        margin-top: 5px;
        h5
        {
            margin-bottom: 0;
        }
    }
    .we-omap-l
    {
        width: 100%;
        h5
        {
            margin-bottom: 20px;
        }
        a
        {
            padding: 7px 30px;
        }
        .cont-map
        {
            margin-top: 30px;
        }
    }
    .we-omap-r
    {
        width: 100%;
        margin-top: 20px;
        h5
        {
            margin-bottom: 23px;
        }
        form
        {
            input
            {
                width: 48%;
                margin-bottom: 20px;
                &:last-of-type
                {
                    float: right;
                }
            }
            textarea
            {
                height: 140px;
            }
            button
            {
                display: block;

                width: 47%;
                margin: 0 auto;
            }
        }
    }
    /*---------------Оплата------------------------------------- */
    .pay
    {
        p
        {
            margin-bottom: 20px;
            padding: 0;
        }
        h5
        {
            font-size: 22px;

            margin-top: 10px;
            &:last-of-type
            {
                margin-bottom: 0;
            }
        }
        .pay-for
        {
            p
            {
                font-size: 16px;

                margin-bottom: 10px;
            }
            .pay-banks-con
            {
                a
                {
                    max-width: 20%;
                    margin-right: 5px;

                    vertical-align: middle;
                }
                img
                {
                    max-width: 100%;
                }
            }
            &:nth-of-type(2)
            {
                p
                {
                    margin-top: 0;
                    padding-bottom: 20px;
                    &:first-of-type
                    {
                        padding-left: 115px;

                        background-size: 13%;
                    }
                    &:nth-of-type(3)
                    {
                        padding-bottom: 5px;
                    }
                    &:last-of-type
                    {
                        margin-bottom: 30px;
                        padding-top: 45px;
                        padding-bottom: 45px;
                        padding-left: 110px;

                        background-position: top left;
                        background-size: 13%;
                    }
                }
            }
        }
    }
    .pay-for:nth-of-type(2) p:nth-child(2),
    .pay-for:nth-of-type(2) p:nth-child(3)
    {
        font-size: 14px;
    }
    /*--------------О компании------------------------------------- */
    .about-comp
    {
        font-size: 14px;
    }
    .advant-it
    {
        width: 230px;
        margin-right: 25px;
        p
        {
            padding-right: 5px;
        }
        &:last-of-type
        {
            margin-left: 0;
            .adn-numb
            {
                p
                {
                    margin-left: 70px;
                }
            }
        }
        .adn-numb
        {
            width: 180px;
            height: 75px;
            span
            {
                font-size: 40px;
            }
            p
            {
                font-size: 14px;
                line-height: 18px;

                margin-top: 17px;
                margin-left: 40px;
                padding-right: 0;
            }
        }
    }
    .for-who
    {
        height: 280px;
        .way-left
        {
            a
            {
                margin-top: 40px;
            }
        }
        .way-right
        {
            padding-left: 20px;
            .abcom-it
            {
                width: 170px;
                margin: 0;
                margin-top: 25px;

                vertical-align: bottom;
                &:last-of-type
                {
                    p
                    {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    .our-adv
    {
        h5
        {
            font-size: 22px;

            margin-bottom: 25px;
        }
        .circle
        {
            width: 90px;
            height: 90px;

            box-shadow: 2px 2px 0 0 #70bdc3;
        }
        .our-adv-it
        {
            width: 49%;
            margin-right: 0;
            margin-bottom: 15px;
            div:nth-of-type(2)
            {
                margin-left: 5px;
            }
            p
            {
                br
                {
                    display: none;
                }
            }
            .dib:last-child
            {
                width: 268px;
            }
        }
    }
    .want-to-und
    {
        margin-bottom: 15px;
        h5
        {
            font-size: 22px;

            margin-bottom: 25px;
        }
        p
        {
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
    /* -------------------Что такое совместные покупки?---------------------------------*/
    .togetbuy1
    {
        .wrap
        {
            background-position: right 90%;
            background-size: 300px;
        }
        p:nth-of-type(2),
        p:nth-of-type(3)
        {
            padding-right: 300px;
        }
    }
    .togetbuy2
    {
        .wrap
        {
            background-position: left 0;
            background-size: 230px;
        }
        p
        {
            &:first-of-type
            {
                font-size: 28px;
                line-height: 44px;

                margin-top: 40px;
                margin-bottom: 10px;
                padding-top: 0;
            }
            &:last-of-type
            {
                font-size: 14px;
                line-height: 25px;

                margin-bottom: 40px;
            }
        }
    }
    .togetbuy3
    {
        h5
        {
            font-size: 22px;

            margin-bottom: 0;
            padding-right: 100px;
        }
        .togbuy-con
        {
            margin-top: 30px;

            text-align: center;
            .togbuy-it
            {
                width: 210px;
                margin-right: 50px;
                margin-bottom: 20px;
                &:nth-of-type(3),
                &:last-of-type
                {
                    margin-right: 0;
                }
            }
            .square
            {
                width: 100px;
                height: 100px;
            }
            p
            {
                font-size: 14px;
            }
        }
    }
    /* -------------------Как сделать заказ?---------------------------------*/
    .how-to-order
    {
        h5
        {
            font-size: 22px;
        }
        p
        {
            font-size: 14px;
            br
            {
                display: none;
            }
        }
        a
        {
            padding: 9px 30px;

            text-transform: uppercase;
        }
        img
        {
            max-width: 100%;
        }
    }
    /* -------------------ТОВАРЫ ОПТОМ ИЗ КИТАЯ---------------------------------*/
    .from-china-head
    {
        background-position: top center;
        h1
        {
            font-size: 40px;

            padding: 3px 28px;
        }
        h3
        {
            font-size: 37px;

            margin-top: 8px;
        }
        p
        {
            margin-top: 5px;
        }
        .ch-head-it
        {
            width: 190px;
            p
            {
                font-size: 18px;

                vertical-align: top;
                span
                {
                    font-size: 28px;
                }
            }
            &:nth-child(2)
            {
                width: 350px;
                margin: 0 5px;

                background-size: contain;
                img
                {
                    width: 104px;
                }
            }
            &:first-of-type
            {
                img
                {
                    width: 84%;
                }
            }
            &:last-of-type
            {
                img
                {
                    width: 130px;
                }
            }
        }
    }
    .why-china
    {
        margin-top: 40px;
        h2
        {
            margin-bottom: 27px;
            margin-left: 0;
        }
    }
    .why-china-con1
    {
        margin-top: 25px;
        .ch-it1
        {
            width: 100%;
            margin-bottom: 20px;
            .square
            {
                width: 100px;
                height: 100px;

                background-size: 50%;
            }
            p
            {
                font-size: 14px;

                width: 70%;
                margin-top: 14px;
                margin-left: 30px;
            }
        }
    }
    .garant
    {
        h5
        {
            font-size: 22px;
            line-height: 28px;

            margin-top: 30px;
            margin-bottom: 7px;
            padding-right: 150px;
        }
    }

    .garant
    {
        .chaina-garant
        {
            margin-top: 20px;
            margin-bottom: 5px;

            text-align: center;
        }
        .ch-it2
        {
            margin-right: 105px;
            margin-bottom: 20px;
            &:nth-of-type(3)
            {
                margin-right: 0;
            }
            .circle
            {
                width: 110px;
                height: 110px;

                background-size: 50%;
                box-shadow: 2px 2px 0 0 #70bdc3;
            }
        }
    }
    .china-form
    {
        h5
        {
            font-size: 22px;
        }
        .ch-form-con
        {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 0;
            input
            {
                width: 47%;
            }
            .inputfile + label
            {
                width: 47%;
            }
            button
            {
                margin-top: 20px;
            }
        }
        p
        {
            width: 100%;
            margin-top: 25px;
            margin-bottom: 22px;
            margin-left: 0;
        }
    }
    /* -------------------Умные часtы Smart Watch ---------------------------------*/
    .gall
    {
        width: 330px;
        a
        {
            width: 100px;
            height: 100px;
            margin-top: 15px;
            margin-right: 10px;
        }
        a:first-of-type
        {
            height: 300px;
        }
    }
    .sw-r
    {
        width: 390px;
        h3
        {
            font-size: 22px;
            line-height: 32px;
        }
        span
        {
            font-size: 16px;
        }
        .trig-it
        {
            width: 160px;
            margin-top: 12px;
            button
            {
                width: 45px;
            }
            input
            {
                width: 69px;
                padding: 9px 2px;
            }
        }
    }
    .trig-con
    {
        p
        {
            font-size: 26px;

            margin-top: 17px;
            margin-left: 16px;
        }
    }
    .sw-btns
    {
        margin-top: 20px;
        margin-bottom: 13px;
        button
        {
            font-size: 16px;

            padding: 12px 12px;
            .dn
            {
                display: inline;
            }
            span:last-of-type
            {
                display: none;
            }
        }
        button:first-of-type
        {
            margin-right: 5px;
            padding: 12px 39px;
        }
         + p
        {
            margin-bottom: 14px;
        }
    }
    .sw-r
    {
        table
        {
            width: 100%;
            td
            {
                width: 58%;
            }
        }
    }
    table tr:nth-of-type(n+1) td
    {
        padding-top: 7px;
    }
    .smart-watch-top
    {
        .social-con
        {
            position: absolute;
            bottom: 55px;
            left: 0;

            display: block;
        }
    }

    .sw-adv-con
    {
        position: relative;
        .social-con
        {
            display: none;
        }
        p
        {
            font-size: 14px;

            width: 230px;
            margin-right: 0;
            margin-bottom: 3px;
            padding-top: 0;
            padding-left: 50px;

            vertical-align: top;

            background-position: left 30%;
            &:first-of-type
            {
                padding: 13px 0 13px 45px;
            }
            &:nth-of-type(3)
            {
                width: 260px;
            }
        }
    }
    .tabs
    {
        margin-top: 25px;
        margin-bottom: 100px;
        .tabs-btns
        {
            a
            {
                font-size: 14px;

                width: 130px;
                margin-top: 1px;
                padding: 12px 0;
            }
        }
        p
        {
            font-size: 14px;
            line-height: 27px;
        }
        ul
        {
            font-size: 14px;
            line-height: 26px;

            width: 48%;
            margin-top: 12px;
            &:last-of-type
            {
                margin-left: 2%;
            }
        }
    }
    .rew
    {
        .form-inp
        {
            width: 48%;
        }
        textarea
        {
            width: 48%;
        }
        .stars
        {
            margin-top: 18px;
        }
    }
    /* -------------------Оформление заказа---------------------------------*/
    .order
    {
        .order-top
        {
            margin-top: 56px;
            margin-bottom: 28px;
            .ord-top-rig
            {
                display: none;
            }
        }
        .ord-tb-con-l
        {
            width: 100%;
            table
            {
                td
                {
                    padding: 10px 20px 32px;
                }
                textarea
                {
                    height: 155px;
                }
                &:nth-of-type(2)
                {
                    td
                    {
                        padding-bottom: 15px;
                    }
                }
                .ticket
                {
                    width: 88%;
                    margin-top: 15px;
                }
                &:nth-of-type(3)
                {
                    td
                    {
                        padding-bottom: 20px;
                    }
                }
            }
        }
        .ord-tb-con-r
        {
            width: 100%;
            margin-top: 10px;
            margin-left: 0;
            table
            {
                tr:nth-of-type(2)
                {
                    td
                    {
                        padding-top: 10px;
                        padding-bottom: 12px;
                    }
                }
                &:last-of-type
                {
                    margin-bottom: 22px;
                }
            }
             > p
            {
                padding-left: 20px;
            }
        }
    }
    .basket
    {
        margin-top: 10px;
        table
        {
            margin-top: 20px;
            td
            {
                padding: 10px 12px;
                table
                {
                    margin-top: 18px;
                    th
                    {
                        padding-right: 0;
                        padding-left: 0;

                        text-align: center;
                    }
                    td
                    {
                        img
                        {
                            width: 100%;
                            height: auto;
                            margin: 0;
                        }
                        span
                        {
                            margin-top: 5px;
                        }
                    }
                &:first-of-type{
                    width: 430px;
                    td{
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    td:last-of-type{
                        width: 100px;
                    }
                }
                &:last-of-type{width: 290px;
                    td{
                        padding: 46px 7px 48px;
                    }}    
                }
                .sum
                {
                    margin-right: 110px;
                }
            }
        }
    }
}


@media screen and (max-width : 992px)
{
}
@media screen and (max-width : 768px)
{
    .wrap
    {
        width: 470px;
        padding: 0 5px;
    }
    section,
    header,
    footer
    {
        min-width: 480px;
    }
    body
    {
        font-size: 14px;
    }
    .head-nav
    {
        .head-nav-left,
        .head-nav-rigth
        {
            display: none;
        }
    }
    .head-con-l
    {
        line-height: 97px;
        a
        {
            img
            {
                width: 200px;
            }
        }
    }
    .head-con-c
    {
        margin-top: 13px;
        margin-left: 50px;
        .head-con-cl
        {
            line-height: 25px;
        }
    }
    .head-con-r
    {
        display: none;
    }
    nav
    {
        display: none;
    }
    .head-main-con
    {
        min-height: 167px;
    }

    .head-con-c
    {
        form
        {
            width: 100%;
            &:after
            {
                left: 46%;
            }
            input
            {
                width: 45%;
                margin-right: 0;
            }
            select
            {
                width: 186px;
            }
        }
    }
    .mob-nav{
        display: block;
        ul{
            text-align: center;
        }
        li{
            display: inline-block;
            vertical-align: middle;
            margin-right: 0;
            &:first-of-type{
                float: left;
                a{
                padding-left: 40px;
                background:url(../img/ico/menu.png)no-repeat left center;}
            }
            &:nth-of-type(2){
                position: relative;
                 background:url(../img/ico/cart-mob.png)no-repeat center;
                 padding: 10px 25px;
                p{
                    position: absolute;
                    display: inline-block;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-weight: 400;
                    border-radius:50%;
                    font-size: 12px;
                    background-color: #053549;
                    top:2px;
                    right: 2px;
                }
            }

            &:last-of-type{
                float: right;
                a{
                padding-right: 40px;
                background:url(../img/ico/lk.png)no-repeat right center;}
            }
        }
    }
    .mob-menu{
        display: block;
        position: absolute;
        background-color: $lblue;
        z-index:3;
        width: 100%;
        color: #fff;
        padding: 0 3%;
        .nav-open{
            filter:brightness(180);
        }
        li{
            margin-bottom: 7px;
        }
        >a{
            padding:10px 0 10px 38px;
            display: inline-block;
            margin-top:3px;
            background: url(../img/ico/x.png) no-repeat left center;
            background-size: 25px;
            filter: brightness(120);
        }
        >ul{
            font-size: 16px;
            font-weight: 600;
            &:first-of-type{
                margin-top: 30px;
                padding-bottom: 14px;
                border-bottom: 1px solid #fff;
                li{
                    margin-bottom: 9px;
                }
            }
            &:nth-of-type(2){
                margin-top: 23px;
                padding-bottom: 20px;
                li{
                    display: block;
                    a{
                        padding-left: 0;
                        font-size: 18px;
                        background-position: 85% 55%;
                        filter: brightness(150);
                    }
                        .main-sub{
                          padding-top: 0;
                          display: block;
                          border-top: 0;
                          text-align: left;
                          padding-top: 10px;
                          position:static;
                          padding-bottom: 2px;
                          li{
                            margin-left: 0;
                            line-height: 24px;
                            margin-bottom: 12px;
                          }
                          a{
                            padding-top: 10px;
                            padding-bottom: 10px;
                            background-position: left 50%;
                            padding-left: 40px;
                            background-size:23px;
                            font-size: 16px;

                          }
                        }
                        .first-subm{
                            position:static;
                            border-top: 0;
                            a{
                                font-size: 16px;
                            }
                        }
                }
            }
        }

    }
    header
    {
        border-bottom: 6px solid $lblue;
        position: relative;
    }
    .catalog
    {
        margin-top: 20px;
    }
    .catalog-it
    {
        width: 110px;
        margin: 0;
        margin-right: 2px;
        margin-bottom: 20px;
        &:nth-of-type(4n)
        {
            margin-right: 0;
        }
        img
        {
            width: 105px;
        }
    }
    .banner-1,
    .conditions
    {
        display: none;
    }
    .goods
    {
        margin-top: 25px;
        .goods-item
        {
            width: 210px;
            height: 350px;
            margin-right: 30px;
            margin-bottom: 20px;
            &:nth-of-type(3n)
            {
                margin-right: 30px;
            }
            &:nth-of-type(2n)
            {
                margin-right: 0;
            }
            &:nth-of-type(n+7)
            {
                display: none;
            }
            img
            {
                height: 184px;
            }
            span
            {
                font-size: 12px;
            }
            p
            {
                line-height: 20px;
            }
            p:nth-of-type(2)
            {
                font-size: 14px;
            }
            p:nth-of-type(3)
            {
                font-size: 18px;

                margin-top: 12px;
            }
            p
            {
                .goods-btn
                {
                    font-size: 12px;

                    width: 95px;
                    height: auto;
                    margin-top: 15px;
                    padding: 2px 0;
                    &:last-child
                    {
                        height: auto;
                    }
                }
            }
        }
        .show-all
        {
            margin-top: 10px;
        }
    }
    .goods-btns
    {
        margin-bottom: 42px;
        button
        {
            font-size: 14px;

            padding: 6px 20px;
            &:first-of-type
            {
                margin-left: 5px;
            }
        }
    }
    .subscrition
    {
        .wrap
        {
            padding: 0 20px;

            background-position: left 50%;
        }
        p
        {
            width: 100%;
        }
        p:first-of-type
        {
            font-size: 24px;
            line-height: 36px;
        }
        p:last-of-type
        {
            font-size: 14px;
        }
        form
        {
            width: 90%;
            height: 48px;
            margin-right: auto;
            margin-left: auto;
            input,
            button
            {
                font-size: 12px;
            }
            button
            {
                padding: 0 10px;
            }
        }
    }
    h2
    {
        font-size: 22px;

        padding-bottom: 15px;
        &:before
        {
            width: 95px;
        }
    }
    .top-news
    {
        a
        {
            font-size: 16px;
            position: absolute;
            top: 65%;
            left: 50%;
            padding: 7px 44px;
            transform: translateX(-50%);
        }
    }
    .nws-cont
    {
        margin-top: 24px;
        margin-bottom: 115px;
        .nws-item
        {
            width: 100%;
            margin-bottom: 27px;
            img
            {
                margin-bottom: 10px;
                height: initial;
            }
            a
            {
                margin-top: 36px;
            }
        }
    }
    .nws-desc
    {
        margin-bottom: 20px;
    }
    footer
    {
        .f-nav,
        .f-cabinet
        {
            display: none;
        }
        .f-fot
        {
            top: 45%;
        }
        .f-logo
        {
            margin-top: 70px;
            a
            {
                width: 100%;
                img
                {
                    width: 100%!important;
                }
                &:last-of-type
                {
                    font-size: 18px;

                    width: 69%;
                }
            }
        }
    }
    /*---------------------Доставка------------------------    */
    .page-title
    {
        h2
        {
            margin-top: 12px;
            padding-bottom: 25px;
        }
    }
    .deliver
    {
        margin-top: 15px;
        .del-advant
        {
            margin-bottom: 11px;
            p
            {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
    .way
    {
        height: auto;
        margin-bottom: 25px;
        &:nth-of-type(3)
        {
            height: auto;
            .way-right
            {
                padding-bottom: 42px;
            }
        }
        &:nth-of-type(4)
        {
            height: auto;
            .way-con-b
            {
                width: 49%;
                &:last-of-type
                {
                    margin-left: 0;
                }
            }
        }
        .way-left
        {
            width: 100%;
            height: auto;
            h5
            {
                font-size: 22px;

                margin: 17px 0 7px;
            }
            p
            {
                padding: 0 15px;
            }
            .way-pp
            {
                margin-bottom: 20px;
            }
        }
        .way-right
        {
            width: 100%;
            height: auto;
            padding-bottom: 20px;
            padding-left: 14px;
            h5
            {
                font-size: 22px;

                margin-top: 15px;
                margin-bottom: 22px;
            }
            .way1-con
            {
                margin-top: 14px;
            }
            a
            {
                margin: 0 14% ;
            }
            .circle
            {
                width: 90px;
                height: 90px;

                background-size: 55%;
            }
        }
    }
    .way3-it
    {
        p,
        span
        {
            width: 340px;
        }
        p
        {
            margin-top: 5px;
        }
    }
    .help-del
    {
        .way
        {
            margin-bottom: 10px;
            h5
            {
                margin-top: 33px;
                padding: 0 10px;
            }
            .way-left
            {
                h5
                {
                    margin-left: 10px;
                }
            }
            .way-right
            {
                h5
                {
                    padding-left: 40%;
                }
                .help-del-it
                {
                    width: 210px;
                    height: 325px;
                    margin-bottom: 10px;
                    a
                    {
                        font-size: 12px;

                        margin: 0;
                    }
                }
            }
        }
    }
    /*--------------------Контакты------------------------    */
    .contacts
    {
        h5
        {
            font-size: 22px;
        }
        p
        {
            margin-bottom: 25px;
        }
        .cont-inf-it
        {
            display: block;

            margin-bottom: 10px;
        }
        .how-to-get
        {
            margin-top: 35px;
            a
            {
                font-size: 12px;

                padding: 7px 18px;
            }
            .how-tg
            {
                margin-bottom: 22px;
                margin-left: 0;
                p
                {
                    margin-bottom: 0;
                }
                a
                {
                    font-size: 16px;
                    font-weight: 500;

                    margin-bottom: 10px;
                    padding-left: 0;
                }
            }
        }
    }
    .we-on-map
    {
        .cont-map
        {
            width: 100%;
            height: 385px;
            margin-bottom: 20px;
            img
            {
                width: 100%;
                height: 100%;
            }
        }
        .we-omap-r
        {
            form
            {
                height: 400px;
                padding-top: 10px;
                input
                {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .about-comp
    {
        margin-top: 0;
        .about-comp
        {
            height: initial;
        }
        .advant-it
        {
            width: 100%;
            .adn-numb
            {
                margin: 25px auto ;
            }
        }
        .for-who
        {
            .way-left
            {
                .way-pp
                {
                    margin-top: 25px;
                }
            }
            .way-right
            {
                padding-top: 25px;
                padding-bottom: 27px;
                .abcom-it
                {
                    width: 145px;
                    margin-top: 0;
                    margin-bottom: 30px;

                    vertical-align: middle;
                    img
                    {
                        height: 60px;
                    }
                }
            }
        }
    }
    .our-adv
    {
        .our-adv-it
        {
            width: 100%;
            margin-bottom: 15px;
            .circle
            {
                display: inline-block;

                margin-left: 7px;

                vertical-align: bottom;
            }
            .dib:last-of-type
            {
                width: 320px;
                margin-left: 25px;
            }
        }
    }
    .want-to-und
    {
        margin-top: 35px;
        margin-bottom: 20px;
        p
        {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
    /*-------------------Оплата---------------------*/
    .pay
    {
        .pay-for
        {
            margin-left: 0;
            ul
            {
                font-size: 14px;

                margin-top: 15px;
            }
            .pay-banks-con
            {
                a
                {
                    max-width: 30%;
                    margin-right: 10px;
                }
            }
            &:nth-of-type(2)
            {
                p:first-of-type
                {
                    background-size: 22%;
                }
                p:last-of-type
                {
                    margin-bottom: 23px;
                    padding-left: 96px;

                    background-position: 0 50%;
                    background-size: 19%;
                }
            }
        }
    }
    /*-------------------Организаторам СП---------------------*/
    .togetbuy1
    {
        .wrap
        {
            background-position: 100% 62%;
            background-size: 200px;
        }
        p:nth-of-type(1)
        {
            margin-top: 40px;
            margin-bottom: 15px;
            padding-right: 215px;
        }
        p:last-of-type
        {
            padding-right: 0;
        }
    }
    .togetbuy2
    {
        .wrap
        {
            background-position: 0 90%;
            background-size: 170px;
        }
        p:first-of-type
        {
            font-size: 24px;
            line-height: 36px;

            margin-top: 23px;
            padding-left: 0;
        }
        p:last-of-type
        {
            margin-bottom: 20px;
            padding-left: 190px;
        }
    }
    .togetbuy3
    {
        h5
        {
            font-size: 18px;
            line-height: 30px;

            padding: 0;
        }
        .togbuy-con
        {
            margin-top: 25px;
            .togbuy-it
            {
                width: 185px;
                margin-right: 0;
                &:nth-of-type(3n)
                {
                    margin-left: 0;
                }
                &:nth-of-type(2n)
                {
                    margin-left: 20px;
                }
            }
        }
    }
    /*-------------------Оформление заказа--------------------*/
    .order
    {
        a
        {
            padding: 10px;
        }
    }
    .ord-tb-con-l
    {
        table:first-of-type
        {
            input
            {
                margin-top: 10px;
            }
            .fttl
            {
                width: 100%;
            }
            .fttr
            {
                width: 100%;
            }
        }
        table:nth-of-type(2)
        {
            textarea
            {
                height: 185px;
            }
        }
        table:nth-of-type(3)
        {
            .ticket
            {
                width: 100%;
                margin-top: 8px;
                button
                {
                    padding: 0 32px;
                }
            }
        }
    }
    /*-------------------Smart Watch--------------------*/
    .page-title
    {
        line-height: 20px;
    }
    .gall
    {
        width: 100%;
        a
        {
            float: right;

            width: 24%;
            height: 92px;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 15px;
        }
        a:first-of-type
        {
            float: left;

            width: 73%;
            height: 306px;
        }
        a:last-of-type
        {
            margin-bottom: 10px;
        }
    }
    .sw-r
    {
        width: 100%;
        h3
        {
            line-height: 30px;
        }
        .trig-con
        {
            margin-top: 10px;
            margin-left: 8px;
        }
        .sw-btns
        {
            margin-top: 30px;
            button:last-of-type
            {
                float: right;
            }
            button:first-of-type
            {
                float: left;
            }
             + p
            {
                padding-right: 100px;
            }
        }
        table
        {
            margin-bottom: 80px;
            td
            {
                width: 50%;
            }
        }
    }
    .smart-watch-top
    {
        .social-con
        {
            bottom: 20px;
            left: 10px;
        }
    }
    .sw-adv-con
    {
        p
        {
            width: 220px;
            margin-bottom: 5px;

            vertical-align: middle;
            &:nth-of-type(3)
            {
                width: 220px;
            }
        }
    }
    .tabs
    {
        margin-top: 50px;
        .tabs-btns
        {
            margin-bottom: 0;
            a
            {
                margin-bottom: 15px;
            }
        }
        p
        {
            line-height: 24px;
        }
        ul
        {
            line-height: 24px;

            width: 100%;
            margin-bottom: 10px;
        }
    }
    .rew
    {
        .form-inp
        {
            width: 100%;
        }
        textarea
        {
            width: 100%;
        }
    }
    .video
    {
        width: 100%;
    }
    /* -------------------ТОВАРЫ ОПТОМ ИЗ КИТАЯ---------------------------------*/
.from-china-head{
    background-size: cover;
    background-position: 40% center;
    h1{
        margin-top: 35px;
        font-size: 24px;
        padding: 9px 18px;
    }
    h3{
        font-size: 22px;
        margin-bottom: 15px;
    }
    p{
        font-size: 17px;
    }
}
.china-head-con{
    margin-top: 0;
    .ch-head-it{
        width: 100%;
        img{
            margin-top:10px;
            width: 35%!important;
            margin-bottom: 7px;
        }
        p{
        span{
            font-size: 30px;
        }
    }
    &:nth-of-type(2){
        background-image: none;
        img{
            width: 30%!important;
        }
    }
    &:nth-of-type(3){
        img{
            margin-top: 17px;
            width: 28%!important;
        }
    }
    }
}
.why-china{
    margin-top: 2px;
    h2{
        padding-bottom: 27px;
    }
}
.why-china-con1{
    margin-top: 43px;
    .ch-it1{
        p{
            margin-left: 15px;
            margin-top: 5px;
        }
    }
}
.garant{
    h5{
        margin-top: 10px;
        font-size: 18px;
        padding-right: 50px;
        line-height: 30px;
    }
    .ch-it2{
        margin-right: 0;
        width: 145px;
        p{
            line-height: 22px;
        }
        &:nth-of-type(2){
            margin-left: 5px;
            margin-right: 5px;
        }
        &:nth-of-type(4){
            margin-right: 5px;
        }
        &:nth-of-type(5){
            margin-left: 5px;
            width: 155px;
        }
    }
}
.china-form{
    h5{
        margin-top: 40px;
        font-size: 18px;
        padding-right: 50px;
        line-height: 30px;
    }
    form{
        textarea{
            margin-top: 12px;
            height: 120px;
        }
    }
}
.china-form .ch-form-con input,
.china-form .ch-form-con .inputfile+label
 {width: 100%;}
.china-form .ch-form-con button {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.basket{
    table{
        table{
            width: 100%!important;
            &:first-of-type{
                margin-bottom: 0;
                td:nth-of-type(2){
                    width: 300px;
                }
            }
            &:last-of-type{
                margin-top: 0;
                td{
                    padding: 10px!important;
                    &:first-of-type{
                        width: 150px;
                    }
                    &:nth-of-type(2){
                        width: 150px;
                    }
                }
            }
        }
    }   
    .sum{
        margin-right: 60px!important;
    }
}

}
@media screen and (max-width : 576px)
{
}
