@import 'vars';


@media screen and (max-width : 1200px)
{
    .wrap
    {
        width: 750px;
    }
    section,
    header,
    footer
    {
        min-width: 540px;
    }
    body
    {
        font-size: 15px;
    }
    .head-nav-left,
    .head-nav-rigth
    {
        width: auto;
    }

    .head-nav-left li:last-child a
    {
        padding-right: 30px;
    }
    .head-nav-left
    {
        li
        {
            margin-right: 5px;
        }
    }
    .head-nav-rigth
    {
        li
        {
            margin-left: 5px;
        }
    }
    .head-con-l
    {
        line-height: 120px;
        a
        {
            img
            {
                width: 240px;
            }
        }
    }
    .head-con-c
    {
        width: auto;
        .head-con-cl
        {
            margin-right: 0;
        }
        form
        {
            position: absolute;
            left: 0;
            select
            {
                width: 188px;
                margin-right: 80px;
            }
        }
    }
    .head-con-cr
    {
        display: none;
    }
    .head-con-r
    {
        position: static;

        float: right;

        margin-left: 0;
    }
    .main-nav
    {
        li:nth-child(n+5)
        {
            display: none;
        }
    }
    .catalog-it
    {
        margin: 20px 30px 8px 34px;
    }
    .banner-1
    {
        margin-top: 7px;

        background: url(../img/ban-1-bg-sm.jpg) no-repeat center;
        background-size: cover;
        .wrap
        {
            width: 780px;
        }
        .ban1
        {
            p
            {
                font-size: 35px;
                line-height: 53px;

                width: 85%;
                margin-top: .5%;
                margin-left: 4%;
            }
            a
            {
                line-height: 53px;

                margin-top: 9px;
                margin-left: 6%;
            }
        }
    }
    .conditions
    {
        .cond-it
        {
            width: 240px;
            height: 110px;
            margin-right: 9px;

            background-position: 10px 50%;
            background-size: 100px;
            box-shadow: 3px 3px 0 0 #70bdc3;
            &:nth-of-type(2)
            {
                background-position: 20px 50%;
                background-size: 80px;
            }
            &:last-child
            {
                margin-right: 0;
            }
            p
            {
                font-size: 15px;

                margin-top: 20px;
                margin-left: 50%;
                padding-right: 0;
            }
        }
    }

    .goods
    {
        .goods-item
        {
            width: 237px;
            margin-right: 15px;
            &:nth-of-type(3n)
            {
                margin-right: 0;
            }
            &:nth-of-type(n+10)
            {
                display: none;
            }
            .goods-btn
            {
                width: 105px;
            }
            p:nth-of-type(2)
            {
                font-size: 16px;
            }
            p:nth-of-type(3)
            {
                font-size: 22px;

                margin-top: 3px;
            }
            p,
            span
            {
                padding: 0 10px;
            }
            p:last-of-type
            {
                padding: 0;
            }
            .goods-itm-flag
            {
                padding: 0;
                padding-top: 10px;
            }
        }
    }
    .subscrition
    {
        p
        {
            width: 80%;
        }
        p:first-of-type
        {
            font-size: 36px;
        }

        br
        {
            display: none;
        }
        form
        {
            width: 480px;
            height: 60px;

            button
            {
                padding: 0 25px;
            }
        }
    }
    h2
    {
        font-size: 28px;

        margin-left: 10px;
        padding-bottom: 27px;
    }
    .top-news
    {
        a
        {
            margin-right: 0;
            padding: 5px 10px;
        }
    }

    .nws-cont
    {
        margin-top: 36px;
        .nws-item
        {
            margin-right: 6px;
            margin-left: 10px;
            &:nth-of-type(n+3)
            {
                display: none;
            }
        }
    }
    .nws-desc
    {
        margin-bottom: 10px;
    }
    footer
    {
        .top-foot
        {
            padding-top: 20px;
            padding-bottom: 45px;
            .dib
            {
                margin-right: 30px;
            }
            .f-logo
            {
                width: 100%;
                p
                {
                    font-size: 14px;
                }
                a
                {
                    display: inline-block;
                    &:last-child
                    {
                        left: 50%;

                        margin: 0;
                        margin-top: 11px;

                        transform: translateX(-50%);
                    }
                    img
                    {
                        width: 220px;
                        margin-top: 20px;
                        margin-bottom: 15px;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .f-fot
    {
        position: absolute;
        top: 68%;
        right: 0;

        width: 460px;
        .fot-social
        {
            width: auto;
            margin-right: 0!important;
        }
        .fot-pay
        {
            width: auto;
            margin-top: -20px;
            p
            {
                display: block;

                margin-bottom: 7px;
            }
            .f-paymnt
            {
                margin-left: 20px;
            }
        }
    }

    /*---------------Доставка--------------------- */
    .page-title
    {
        h2
        {
            margin-top: 16px;
            margin-left: 0;
        }
    }
    .del-advant
    {
        margin-bottom: 66px;
        p
        {
            width: 228px;
            margin-right: 27px;
            padding: 0;
        }
    }
    .way
    {
        height: 380px;
        .way-left
        {
            width: 210px;
            p
            {
                padding: 0 10px;
            }
            a
            {
                width: 176px;
                margin-top: 16px;
            }
        }
        .way-right
        {
            width: 540px;
            padding-left: 30px;
            a
            {
                float: none;
            }
            p
            {
                br
                {
                    display: none;
                }
            }
            .way1-con
            {
                margin-top: 28px;
                margin-bottom: 4px;
                .way1-item
                {
                    margin-bottom: 15px;

                    background-size: 16%;
                }
            }
        }
    }
    .way:nth-of-type(3)
    {
        height: 690px;
        .way2-con:nth-of-type(2)
        {
            float: none;

            margin-right: 0;
            margin-bottom: 21px;
        }
    }
    .way:nth-of-type(4)
    {
        height: 610px;
        .way2-con:nth-of-type(2)
        {
            float: none;

            margin-right: 0;
            margin-bottom: 21px;
        }
    }
    .way3-con
    {
        margin-bottom: 14px;
    }
    .way3-it
    {
        width: 100%;

        text-align: left;
        .circle
        {
            float: left;

            width: 110px;
            height: 110px;
            margin-bottom: 10px;

            box-shadow: 2px 2px 0 0 #70bdc3;
        }
        p,
        span
        {
            display: inline-block;
            float: right;

            width: 375px;
        }
        p
        {
            margin-top: 15px;
        }
    }
    .way:last-child .way-con-b
    {
        width: 44%;
        span
        {
            line-height: 24px;
        }
    }
    .way:last-child .way-con-b:last-of-type
    {
        margin-left: 30px;
    }
    .help-del
    {
        .way
        {
            margin-bottom: 40px;
        }
        .way-left
        {
            position: absolute;
            top: 0;
            left: 0;

            height: auto;
        }
        .way-right
        {
            width: 100%;
            padding-left: 0;
            h5
            {
                margin-top: 30px;
                margin-right: 22px;

                text-align: right;
            }
            .help-del-it
            {
                width: 235px;
                height: 308px;
                margin-right: 10px;
                margin-bottom: 20px;
                padding: 10px;
                .help-d-imgco
                {
                    margin-bottom: 10px;
                    img
                    {
                        max-width: 100%;
                    }
                }
                a:first-of-type
                {
                    left: 10px;
                }
                a:last-of-type
                {
                    right: 10px;
                }
            }
        }
    }
    /* ------------------------Контакты--------------------------------*/
    .contacts
    {
        font-size: 14px;
        p
        {
            margin-bottom: 20px;;
            padding-right: 0;
        }
        .cont-inf-it
        {
            width: auto;
            margin: 0;
            margin-right: 60px;
            margin-bottom: 30px;
            &:nth-child(3)
            {
                width: 150px;
                margin-left: 0;
            }
            &:nth-child(3n)
            {
                margin-right: 0;
            }
            p
            {
                margin-bottom: 5px;
            }
        }
    }
    .how-to-get
    {
        margin-top: 5px;
        h5
        {
            margin-bottom: 0;
        }
    }
    .we-omap-l
    {
        width: 100%;
        h5
        {
            margin-bottom: 20px;
        }
        a
        {
            padding: 7px 30px;
        }
        .cont-map
        {
            margin-top: 30px;
        }
    }
    .we-omap-r
    {
        width: 100%;
        margin-top: 20px;
        h5
        {
            margin-bottom: 23px;
        }
        form
        {
            input
            {
                width: 48%;
                margin-bottom: 20px;
                &:last-of-type
                {
                    float: right;
                }
            }
            textarea
            {
                height: 140px;
            }
            button
            {
                display: block;

                width: 47%;
                margin: 0 auto;
            }
        }
    }
    /*---------------Оплата------------------------------------- */
.pay{
	p{
		padding: 0;
		margin-bottom: 20px;
	}
	h5{
		margin-top: 10px;
		font-size: 22px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	.pay-for{
		p{
			margin-bottom: 10px;
			font-size: 16px;
		}
		.pay-banks-con{
			a{
				max-width: 20%;
   		  margin-right: 5px;
   		  vertical-align: middle;
			}
			img{
				max-width: 100%;
			}
		}
		&:nth-of-type(2){
			p{
				margin-top: 0;
				padding-bottom: 20px;
				&:first-of-type{
					padding-left: 115px;
					background-size: 13%;
				}
				&:nth-of-type(3){
					padding-bottom: 5px;
				}
				&:last-of-type{
					background-size: 13%;
					margin-bottom: 30px;
					padding-bottom: 45px;
					padding-top:45px;
					padding-left: 110px;
					background-position: top left;
				}
			}
		}
	}
}
.pay-for:nth-of-type(2) p:nth-child(2), .pay-for:nth-of-type(2) p:nth-child(3) {
	font-size: 14px;
}
    /*--------------О компании------------------------------------- */
.about-comp{
	font-size: 14px;
}
.advant-it{
	width: 230px;
	margin-right: 25px;
	p{
		padding-right: 5px;
	}
	&:last-of-type{
		margin-left: 0;
		.adn-numb{
			p{
				margin-left: 70px;
			}
		}
	}
	.adn-numb{
		width: 180px;
		height: 75px;
		span{
			font-size: 40px;
		}
		p{
			font-size: 14px;
			margin-top: 17px;
			line-height: 18px;
			margin-left: 40px;
			padding-right: 0;
		}
	}
}
.for-who{
	height: 280px;
	.way-left{
		a{
			margin-top: 40px;
		}
	}
	.way-right{
		padding-left: 20px;
		.abcom-it{
			width:170px;
			margin: 0;
			margin-top: 25px;
			vertical-align: bottom;
			&:last-of-type{
				p{
					padding: 0 20px;
				}
			}
		}
	}
}
.our-adv{
	h5{
		font-size: 22px;
		margin-bottom: 25px;
	}
	.circle{
		width: 90px;
		height: 90px;
		box-shadow: 2px 2px 0 0 #70bdc3;
	}
	.our-adv-it{
		width: 49%;
		margin-right: 0;
		margin-bottom: 0;
		div:nth-of-type(2){
			margin-left: 5px;
		}
		p{
			br{
				display: none;
			}
		}
		.dib:last-child{
			width: 268px;
		}
	}
}
.want-to-und{
	margin-bottom: 15px;
	h5{
		font-size: 22px;
		margin-bottom: 25px;
	}
	p{
		width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}
}
/* ----------------------------------------------------*/

}

@media screen and (max-width : 992px)
{
}
@media screen and (max-width : 768px)
{
}
@media screen and (max-width : 576px)
{
}
