/.idea
*.log
*.properties
*.iml
target
*/target
/*.war
/*.zip
/*.jar
/.project
/.settings
*/.externalToolBuilders

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

prod
test

**/.idea/**
.idea/workspace.xml
.idea/jsLibraryMappings.xml

node_modules